:root {
    --box-shadow: #dacbcb;
    --border: rgb(253, 246, 246);
    --headfoot-background: rgb(103, 103, 227);
    --headfott-color: white;
}


* {
    margin: 0;
    padding: 0;
}

header, footer {
    width:80%;
    margin: 2vw auto;
    background-color: var(--headfoot-background);
    color: var(--headfott-color);
    padding: 2vw 0;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 4vw;
}

h2 {
    text-align: center;
    font-size: 2.7vw;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

ul {

    padding-left: 2.5vw;
    font-size: 2vw;
}

p {
    text-align: center;
    font-size: 2.7vw;
}

.card {
    width: 65%;
    margin: 3vw auto;
    border: 5px solid var(--border);
    box-shadow: 0 4vw 3vw 0 var(--box-shadow);
    border-radius: 10px;
}
